mydata/
.env
cv_testing/
backend/node_modules/
backend/package-lock.json
backend/package.json
backend/__pycache__
Dataset_Creation/YOLO_MODEL_TRAINING_DATA_V1/
frontend/node_modules/
frontend/package-lock.json
frontend/package.json
frontend/_pycache_
model_training_and_evaluation/dataset/
model_training_and_evaluation/mealawe_annotation-3/
model_training_and_evaluation/runs/detect/mealawe_project_vChecking/
model_training_and_evaluation/__pycache__
model_training_and_evaluation/runs
model_training_and_evaluation/yolo11m.pt
model_training_and_evaluation/yolo11s.pt
backend/__pycache__
backend/results
backend/try.py
backend/package-lock.json
backend/package.json

